<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<troopTypes xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <troop resourceType="Soldier" minAttackStrength="1" maxAttackStrength="3" minHealth="1" maxHealth="5"
         minMovementSpeed="1" maxMovementSpeed="2" minProductionSpeed="1" maxProductionSpeed="2" minUpkeepCoins="1" maxUpkeepCoins="4"></troop>

  <troop resourceType="Tank" minAttackStrength="2" maxAttackStrength="5" minHealth="3" maxHealth="8"
         minMovementSpeed="1" maxMovementSpeed="2" minProductionSpeed="2" maxProductionSpeed="4" minUpkeepCoins="3" maxUpkeepCoins="7"></troop>

  <troop resourceType="Marine" minAttackStrength="1" maxAttackStrength="5" minHealth="1" maxHealth="5"
         minMovementSpeed="1" maxMovementSpeed="2" minProductionSpeed="1" maxProductionSpeed="3" minUpkeepCoins="2" maxUpkeepCoins="4"></troop>

  <troop resourceType="Spy" minAttackStrength="3" maxAttackStrength="6" minHealth="1" maxHealth="3"
         minMovementSpeed="2" maxMovementSpeed="3" minProductionSpeed="2" maxProductionSpeed="4" minUpkeepCoins="2" maxUpkeepCoins="4"></troop>

  <troop resourceType="FighterPlane" minAttackStrength="3" maxAttackStrength="8" minHealth="5" maxHealth="10"
         minMovementSpeed="3" maxMovementSpeed="7" minProductionSpeed="5" maxProductionSpeed="10" minUpkeepCoins="5" maxUpkeepCoins="10"></troop>

  <troop resourceType="Helicopter" minAttackStrength="3" maxAttackStrength="10" minHealth="6" maxHealth="12"
         minMovementSpeed="4" maxMovementSpeed="10" minProductionSpeed="8" maxProductionSpeed="10" minUpkeepCoins="7" maxUpkeepCoins="15"></troop>

  <troop resourceType="Artilleri" minAttackStrength="5" maxAttackStrength="15" minHealth="7" maxHealth="15"
         minMovementSpeed="1" maxMovementSpeed="2" minProductionSpeed="10" maxProductionSpeed="15" minUpkeepCoins="10" maxUpkeepCoins="20"></troop>
</troopTypes>