<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="MongoServerSettings"
         connectionString="mongodb://admin:Test!234@ds239587.mlab.com:39587/virtualrisks"
         xdt:Transform="SetAttributes(connectionString)"/>
  </connectionStrings>
  <appSettings xdt:Transform="Replace">
    <!--Soldier production time: minute-->
    <add key="Game:ProductionTime" value="30"></add>
    <!--battalion movement speed meters per minute-->
    <add key="Game:BattalionMovementSpeed" value="200" />
    <!--Siege time-->
    <add key="Game:SiegeTime" value="10"></add>
    <add key="Game:DistanceHeroARoundCastleThreshold" value="50"/>
    <add key="Game:HeroStayInCastleTime" value="10"/>

    <add key="Game:RevenueTime" value="10" />
    <add key="Game:RevenueCoins" value="100" />
    <add key="Game:UpkeepTime" value="10" />
    <add key="Game:WallStrength" value="1" />

    <add key="GameAi:Interval" value="4"></add>
    <add key="GameAi:NumberOfCastleToBattalion" value="2"></add>
    <add key="GameAi:NumberOfSoldierToBattalion" value="10"></add>

    <add key="GameDifficultyEasy:Interval" value="4"/>
    <add key="GameDifficultyEasy:NumberOfCastleToBattalion" value="2"/>
    <add key="GameDifficultyEasy:NumberOfSoldierToBattalion" value="10"/>

    <add key="GameDifficultyNormal:Interval" value="4"/>
    <add key="GameDifficultyNormal:NumberOfCastleToBattalion" value="3"/>
    <add key="GameDifficultyNormal:NumberOfSoldierToBattalion" value="10"/>


    <add key="GameDifficultyHard:Interval" value="4"/>
    <add key="GameDifficultyHard:NumberOfCastleToBattalion" value="4"/>
    <add key="GameDifficultyHard:NumberOfSoldierToBattalion" value="10"/>


    <add key="Notify:AndroidSendId" value="912965991516" />
    <add key="Notify:AndroidApplicationId" value="AIzaSyAksX5KXx6lRPKiQz7wYph-ULaPp2_PF1I" />
    <add key="Notify:iOSCertificatePath" value="" />
    <add key="Notify:iOSCertificatePassword" value="" />
    <add key="Notify:GameInviteTitle" value="Game invitation" />
    <add key="Notify:GameInviteMessage" value="{Opponent.Name} invited you to play a game" />

    <add key="ReadDBName" value="virtualrisks" />
    <add key="cors" value="*" />
    <add key="FacebookAppId" value="1643698609246838" />
    <add key="FacebookAppSecret" value="a110f8c4cb08c0eaa90550e64a9329fa" />
    <add key="FacebookAppToken" value="1643698609246838|x5PaPO_3sPq-hbaHksVGSftGn5c" />
    <add key="GoogleApiKey" value="AIzaSyBMDuI0mlRNpZE_p4nJpLtAg9uPr5o8jxg" />
    <add key="GenerateFlag" value="false" />
    <add key="ImagePath" value="~/Upload/Images"/>
    <add key="FirebaseUrl" value="https://oh-my-beer.firebaseio.com/castlego/"/>
  </appSettings>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>