<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="MongoServerSettings" connectionString="mongodb://localhost/virtualrisks" />
  </connectionStrings>
  <appSettings xdt:Transform="Replace">
    <!--Soldier production time: minute-->
    <add key="Game:ProductionTime" value="1"></add>
    <!--battalion movement speed meters per minute-->
    <add key="Game:BattalionMovementSpeed" value="300" />
    <!--Siege time-->
    <add key="Game:SiegeTime" value="1"></add>
    <add key="Game:DistanceHeroARoundCastleThreshold" value="50" />
    <add key="Game:HeroStayInCastleTime" value="10" />
    <add key="Game:RevenueTime" value="5" />
    <add key="Game:RevenueCoins" value="50" />
    <add key="Game:UpkeepTime" value="5" />

    <add key="Upkeep:Soldier" value="5" />
    <add key="Upkeep:Knight" value="10" />
    <add key="Upkeep:Pikeman" value="7" />
    
    <add key="GameAi:Interval" value="1"></add>
    <add key="GameAi:NumberOfCastleToBattalion" value="2"></add>
    <add key="GameAi:NumberOfSoldierToBattalion" value="5"></add>

    <add key="GameDifficultyEasy:Interval" value="1" />
    <add key="GameDifficultyEasy:NumberOfCastleToBattalion" value="2" />
    <add key="GameDifficultyEasy:NumberOfSoldierToBattalion" value="5" />

    <add key="GameDifficultyNormal:Interval" value="1" />
    <add key="GameDifficultyNormal:NumberOfCastleToBattalion" value="3" />
    <add key="GameDifficultyNormal:NumberOfSoldierToBattalion" value="5" />


    <add key="GameDifficultyHard:Interval" value="1" />
    <add key="GameDifficultyHard:NumberOfCastleToBattalion" value="3" />
    <add key="GameDifficultyHard:NumberOfSoldierToBattalion" value="7" />

    <add key="Notify:AndroidSendId" value="912965991516" />
    <add key="Notify:AndroidApplicationId" value="AIzaSyAksX5KXx6lRPKiQz7wYph-ULaPp2_PF1I" />
    <add key="Notify:iOSCertificatePath" value="" />
    <add key="Notify:iOSCertificatePassword" value="" />
    <add key="Notify:GameInviteTitle" value="Game invitation" />
    <add key="Notify:GameInviteMessage" value="{Opponent.Name} invited you to play a game" />

    <add key="ReadDBName" value="virtualrisks" />
    <add key="cors" value="*" />
    <add key="FacebookAppId" value="1643698609246838" />
    <add key="FacebookAppSecret" value="a110f8c4cb08c0eaa90550e64a9329fa" />
    <add key="FacebookAppToken" value="1643698609246838|x5PaPO_3sPq-hbaHksVGSftGn5c" />
    <add key="GoogleApiKey" value="AIzaSyBWMaqeMCawjgjbTXqq5bE0txTXmie4MSA" />
    <add key="GenerateFlag" value="false" />

    <add key="ImagePath" value="~/Upload/Images"/>
    <add key="FirebaseUrl" value="https://oh-my-beer.firebaseio.com/castlego/"/>
  </appSettings>
  <system.web>
  </system.web>
</configuration>