<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!--<section name="troopTypes" type="CastleGo.WebApi.TroopTypeSectionHandler" />-->
  </configSections>
  <!--<troopTypes configSource="TroopTypes.config"></troopTypes>-->
  <connectionStrings>
    <add name="MongoServerSettings" connectionString="mongodb://localhost/virtualrisks" />
  </connectionStrings>
  <appSettings>
    <!--Soldier production time: minute-->
    <add key="Game:ProductionTime" value="1"></add>
    <!--battalion movement speed meters per minute-->
    <add key="Game:BattalionMovementSpeed" value="300" />
    <!--Siege time-->
    <add key="Game:SiegeTime" value="1"></add>
    <add key="Game:DistanceHeroARoundCastleThreshold" value="50" />
    <add key="Game:HeroStayInCastleTime" value="10" />
    <add key="Game:RevenueTime" value="1" />
    <add key="Game:RevenueCoins" value="50" />
    <add key="Game:UpkeepTime" value="1" />
    <add key="Game:WallStrength" value="1" />

    <add key="GameAi:Interval" value="1"></add>
    <add key="GameAi:NumberOfCastleToBattalion" value="2"></add>
    <add key="GameAi:NumberOfSoldierToBattalion" value="5"></add>

    <add key="GameDifficultyEasy:Interval" value="1" />
    <add key="GameDifficultyEasy:NumberOfCastleToBattalion" value="2" />
    <add key="GameDifficultyEasy:NumberOfSoldierToBattalion" value="5" />

    <add key="GameDifficultyNormal:Interval" value="1" />
    <add key="GameDifficultyNormal:NumberOfCastleToBattalion" value="3" />
    <add key="GameDifficultyNormal:NumberOfSoldierToBattalion" value="5" />

    <add key="GameDifficultyHard:Interval" value="1" />
    <add key="GameDifficultyHard:NumberOfCastleToBattalion" value="3" />
    <add key="GameDifficultyHard:NumberOfSoldierToBattalion" value="7" />

    <add key="Notify:AndroidSendId" value="912965991516" />
    <add key="Notify:AndroidApplicationId" value="AIzaSyAksX5KXx6lRPKiQz7wYph-ULaPp2_PF1I" />
    <add key="Notify:iOSCertificatePath" value="" />
    <add key="Notify:iOSCertificatePassword" value="" />
    <add key="Notify:GameInviteTitle" value="Game invitation" />
    <add key="Notify:GameInviteMessage" value="{Opponent.Name} invited you to play a game" />

    <add key="ReadDBName" value="castlego" />
    <add key="cors" value="*" />
    <add key="FacebookAppId" value="1643698609246838" />
    <add key="FacebookAppSecret" value="a110f8c4cb08c0eaa90550e64a9329fa" />
    <add key="FacebookAppToken" value="1643698609246838|x5PaPO_3sPq-hbaHksVGSftGn5c" />
    <add key="GoogleApiKey" value="AIzaSyBWMaqeMCawjgjbTXqq5bE0txTXmie4MSA" />
    <add key="GenerateFlag" value="false" />
    <add key="ImagePath" value="~/Upload/Images" />
    <add key="FirebaseUrl" value="https://oh-my-beer.firebaseio.com/castlego/" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.1" />
    <authentication mode="None" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac.Integration.WebApi" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.2.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.2.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>